@use 'hero';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Agbalumo, sans-serif;
    color: black;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;

    @media (max-width: 640px) {
        max-width: 80px;
    }

    @media (max-width: 1024px) {
        max-width: 90%;       
    }
}